nav{
    display:flex;
    justify-content:space-between;
    background-color: black;
    padding: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-left:50px;
    padding-right: 50px;
    
}
nav a:hover{
    color: yellowgreen;
    text-decoration: underline;
}
.images{
    display:flex;
    justify-content:space-around;
    margin-top: 50px;
    width:300px;
    height:300px;
    gap: 10px;
}
.form{
    margin-top:50px;
    padding:10px;
    width:500px;
    border: 2px solid black;
    border-radius: 10px;
    height:200px;
}